conda.enabled = true
// process.conda = '/home/by2747/miniconda3/envs/Secundo2'

// singularity.enabled = true
// process.container = '/n/core/Bioinformatics/analysis/CompBio/boweny/nf-Pipeline/nextflow-GenomeIndex_Ver_4/assets/singularity_roboindex.sif'
// singularity.autoMounts = true

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process {
            executor = 'slurm'
            conda = '/home/by2747/miniconda3/envs/Secundo2'
            withLabel: big_mem {
                cpus = 10
                memory = 100.GB
            }
            withLabel: lil_mem {
                cpus = 5
                memory = 30.GB
            }
            withLabel: small_mem {
                cpus = 1
                memory = 5.GB
            }
            withLabel: deeptools {
                cpus = 30
                memory = 200.GB
            }
        }
    }
}
