params.fcid = "" 
params.molng = ""
params.outdir = "/n/core/Bioinformatics/secondary" 
params.annotation = "SAMPLE_REPORT" 
params.species = "SAMPLE_REPORT" // Default is Samples_Report
params.genomeVer = "SAMPLE_REPORT"
params.indexDir = "/n/analysis/genomes/" // Dir of all indexes, can change later if we want
params.user_email = "bioinfo@stowers.org"
params.public_dataxlsx = "" // full path required
params.lab = ""
params.requester = ""
params.roboSamplesheet = "/n/analysis/genomes/sampleSheet_ROBOINDEX_2023.csv"
params.samplereport = "" // Provide one or a list of Sample_Report.csv seperated by "," Full path required! You must also provide params.lab and params.requester
params.skip_biotools = "" // Provide T/True if you do not wish to upload to biotools
params.chip_cut_atac = ""

conda.enabled = true

profiles {
    local {
        process.executor = 'local'
    }
    standard {
        process {
            executor = 'slurm'
            conda = '/home/compbio_svc/miniconda3/envs/R-SECUNDO3'
            
            withLabel: big_mem {
                cpus = 10
                memory = 100.GB
            }
            withLabel: lil_mem {
                cpus = 5
                memory = 30.GB
            }
            withLabel: small_mem {
                cpus = 1
                memory = 5.GB
            }
            withLabel: deeptools {
                cpus = 30
                memory = 200.GB
            }
        }
    }
}
